/* ==== custom drop select ==== */
.drop {
	display: flex;
	gap: 30px;
	padding: 20px 0 40px;
	&-list {
		position: relative;
		width: 100%;
		max-width: 350px;
		background: #fff;
	}

	&-input {
		position: relative;
		display: block;
		width: 100%;
		padding: 15px 15px 15px 45px;
		font-family: inherit;
		font-size: 18px;
		font-weight: 400;
		border-bottom: 1px solid #7e9bbd;
		color: #222;
		cursor: pointer;
		transition: all 0.2s ease-out;
		z-index: 1;

		& + i {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 8px 0 8px;
			border-color: #008095 transparent transparent transparent;
			pointer-events: none;
			z-index: 1;
		}

		&.turn + i {
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #008095 transparent;
		}
	}

	&-sublist {
		display: none;
		position: absolute;
		top: 43px;
		left: 0;
		width: 100%;
		background-color: #fff;
		border: 2px solid #7e9bbd;
		z-index: 10;
	
		&.open {
			display: block; 
		}

		& li {
			display: block;
			color: #000;
			font-weight: 400;
			padding: 12px 12px 12px 45px;
			transition: all 0.2s ease-out;	
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 1px solid #7e9bbd;
			}

			&:hover {
				background-color: #008095;
				color: #fff;
			}
		}
	}
}
/* ==== // custom drop select ==== */