/* ==== custom select ==== */
.select {
	position: relative;
	width: 100%;
	max-width: 350px;
	background: #fff;

	&-field {
		padding: 12px 32px 12px 12px;
		width: 100%;
		height: 100%;
		font-family: inherit;
		font-weight: 400;
		font-size: 1em;
		color: #000;
		background-color: unset;
		border: 2px solid #7e9bbd;
		border-radius: 4px;
		transition: 0.2s;
		cursor: pointer;

		&:focus {
			outline: transparent;
			box-shadow: 0 0 3px #7e9bbd;
		}

		&::placeholder {
			font-weight: 400;
			color: #333;
		}

		& + span {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 32px;
			z-index: 1;

			&::after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 8px 0 8px;
				border-color: #008095 transparent transparent transparent;
				transition: 0.5s;
				text-shadow: none;
				pointer-events: none;
			}
			// &::after {
			// 	content: "";
			// 	display: block;
			// 	width: 12px;
			// 	height: 12px;
			// 	background-image: url(/assets/images/icons/arrow-bottom.svg);
			// 	background-repeat: no-repeat;
			// 	background-size: contain;
			// 	background-position: center;
			// 	pointer-events: none;
			// }
		}

		&.turn + span::after {
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #008095 transparent;
		}
	}

	&-list {
		display: none;
		position: absolute;
		top: calc(100% - 2px);
		left: 0;
		width: 100%;
		background-color: #fff;
		border: 2px solid #7e9bbd;
		animation: fadeIn 0.4s;
		z-index: 10;

		&.open {
			display: block;
		}

		& li {
			display: block;
			padding: 12px 12px 12px 12px;
			transition: all 0.2s ease-out;
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 1px solid #7e9bbd;
			}

			&:hover {
				background-color: #008095;
				color: #fff;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* ==== // custom select ==== */

/* ==== select default ==== */
.select-default {
	position: relative;
	max-width: 350px;
	width: 100%;

	select {
		padding: 12px 32px 12px 12px;
		width: 100%;
		height: 100%;
		font-family: inherit;
		font-weight: 400;
		font-size: 1em;
		color: #000;
		background-color: unset;
		border: 2px solid #7e9bbd;
		border-radius: 4px;
		transition: 0.2s;
		appearance: none;
	}

	&::after {
		content: "";
		position: absolute;
		right: 10px;
		top: calc(50% - 6px);
		display: block;
		width: 12px;
		height: 12px;
		background-image: url(/assets/images/icons/arrow-bottom.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		pointer-events: none;		
	}

	&.open::after {
		transform: rotate(180deg);
	}
}
/* ==== // select default ==== */