/* ==== custom switchbox ==== */
.switchbox {
	display: inline-block;

	&-form {
		margin-top: 25px;
		display: flex;
		gap: 25px;
	}

	&-btn {
		display: inline-block;
		height: 28px;
		line-height: 28px;
		margin-right: 10px;
		position: relative;
		vertical-align: middle;
		font-size: 14px;
		user-select: none;

		input[type="checkbox"] {
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			z-index: -10;
			opacity: 0;

			&:checked + .switchbox-switch {
				background: #008095;
			}

			&:checked + .switchbox-switch::before {
				transform: translateX(28px);
				@include mxw1670 {transform: translateX(22px)}
				@include mxw678 {transform: translateX(20px)}
			}

			&:not(:disabled) + .switchbox-switch {
				cursor: pointer;
				border-color: rgba(0, 0, 0, 0.3);
			}

			&:disabled + .switchbox-switch {
				filter: grayscale(70%);
				border-color: rgba(0, 0, 0, 0.1);
			}

			&:disabled + .switchbox-switch::before {
				background: #eee;
			}

			&.focused .switchbox-switch::before {
				box-shadow: inset 0px 0px 4px #ff5623;
			}
		}
	}

	&-switch {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width: 56px;
		height: 28px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 25%/50%;
		vertical-align: top;
		background: #eee;
		transition: 0.2s;

		@include mxw1670 {
			width: 46px;
			height: 24px;
		}
		@include mxw678 {
			width: 40px;
			height: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 1px;
			left: 1px;
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: white;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			transition: 0.15s;

			@include mxw1670 {
				width: 20px;
				height: 20px;
			}
			@include mxw678 {
				width: 16px;
				height: 16px;
			}
		}

		input[type="checkbox"]:not(:disabled):active + .switchbox-switch::before {
			box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
		}
	}
}
/* ==== // custom switchbox ==== */