/* --- buttons  --- */
.btn {
	display: inline-flex;
	border-radius: 20px;
	transition: all 0.2s ease-out;
}
.btn:hover {
	background-position: 0 -20px;
}

.btn-popup {
	display: inline-flex;
	max-width: 210px;
	width: 100%;
	height: 68px;
	padding: 22px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.9px;
	border-radius: 12px;
	transition: text-shadow 0.2s;
	cursor: pointer;
}
.btn--accent {
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(rgba(0, 0, 0, 0.12)),
			to(rgba(0, 0, 0, 0.12))
		),
		-webkit-gradient(linear, left top, left bottom, from(#008095), to(#016d7e));
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.12) 0%,
			rgba(0, 0, 0, 0.12) 100%
		),
		linear-gradient(180deg, #008095 0%, #016d7e 100%);
	background-blend-mode: overlay, normal;
}

.btn--white {
	border: 1px solid #fff;
	background-color: unset;
	color: #fff;
}

// temp style
button[type="submit"] {
	pointer-events: none;
}
/* --- // buttons --- */